@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
  color: #ffffff;
}

html,
body {
  background-color: #000000;
  width: 100%;
}

section{
  width: 1440px;
  background-color: hsl(218, 28%, 13%);
  margin: auto;
}

header{
  padding: 70px 80px;
}


