@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap");

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
  color: #ffffff;
}

html,
body {
  background-color: #000000;
  width: 100%;
}

br {
  display: none;
}

section {
  width: 1440px;
  background-color: #181e2a;
  margin: auto;
}

header {
  padding: 70px 80px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b212f;
}

header ul {
  display: flex;
  gap: 60px;
}

header ul > li {
  list-style-type: none;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 15px;
}

.intro {
  position: relative;
  padding-bottom: 160px;
  height: 1100px;
  background-color: #1b212f;
}

.intro-background {
  position: absolute;
  z-index: 100;
  bottom: -4px;
  height: max-content;
}

.curvy-mobile {
  display: none;
}

.intro-container {
  text-align: center;
  position: relative;
}

.lower {
  width: 680px;
  margin: auto;
  position: absolute;
  top: 600px;
  left: 50%;
  margin-left: -340px;
  z-index: 1000;
}

.lower h1 {
  font-family: "Raleway";
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 40px;
}

.lower p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: 35px;
}

.lower button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  font-family: "Raleway";
  font-weight: 700;
  padding: 17px 94px;
  border-radius: 50px;
  font-size: 16px;
}

.features {
  padding: 0 280px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 140px;
  row-gap: 100px;
  margin-bottom: 135px;
}

.features div {
  text-align: center;
}

.features div h1 {
  font-family: "Raleway";
  font-size: 18px;
  margin-bottom: 10px;
}

.features div p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.features div:nth-child(2) img {
  margin-bottom: 15px;
}

.features div:nth-child(1) img {
  margin-bottom: 25px;
}

.features div:nth-child(3) img {
  margin-bottom: 15px;
}

.features div:nth-child(4) img {
  margin-bottom: 22px;
}

.productive {
  display: flex;
  align-items: center;
  padding: 0 105px;
  justify-content: space-between;
}

.productive div:nth-child(2) {
  width: 550px;
}

.productive div:nth-child(2) h1 {
  width: 335px;
  font-family: "Raleway";
  font-size: 40px;
  margin-bottom: 20px;
}

.productive div:nth-child(2) h5,
.productive div:nth-child(2) h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
}

.productive div:nth-child(2) h5 {
  margin-bottom: 15px;
}

.productive div:nth-child(2) h6 {
  margin-bottom: 15px;
}

.productive span {
  width: 175px;
  display: flex;
  align-items: center;
  gap: 7px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
}

.testimonials {
  position: relative;
  height: 546px;
  font-family: "Open Sans", sans-serif;
}

.quotes {
  position: absolute;
  top: 125px;
  left: 130px;
  z-index: 100;
}

.testimonial-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: 10px;
  position: absolute;
  z-index: 100000;
  width: 1160px;
  left: 50%;
  margin-left: -580px;
  top: 50%;
  margin-top: -115px;
  border-radius: 5px;
}

.satish,
.bruce,
.iva {
  width: 360px;
  background-color: hsl(219, 30%, 18%);
  padding: 45px 30px 30px 30px;
  border-radius: 5px;
}

.satish:hover,
.bruce:hover,
.iva:hover {
  box-shadow: 5px 5px 30px black;
  transition: 0.15s ease-in;
}

.satish > p,
.bruce > p,
.iva > p {
  font-size: 14px;
  margin-bottom: 20px;
}

.satish > div,
.bruce > div,
.iva > div {
  display: flex;
  align-items: center;
}

.satish > div img,
.bruce > div img,
.iva > div img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.satish > div h1,
.bruce > div h1,
.iva > div h1,
.satish > div p,
.bruce > div p,
.iva > div p {
  font-size: 10px;
  margin-bottom: 2px;
}

.email {
  background-color: hsl(217, 28%, 15%);
  width: 850px;
  text-align: center;
  padding: 45px 0;
  box-shadow: 3px 3px 8px black;
  border-radius: 5px;
  margin-bottom: -115px;
  position: absolute;
  left: 50%;
  margin-left: -425px;
}

.email:hover {
  box-shadow: 3px 3px 20px black;
}

.email div:nth-child(1) h1 {
  font-family: "Raleway";
  margin-bottom: 20px;
}

.email div:nth-child(1) p {
  font-family: "Open Sans", sans-serif;
  width: 620px;
  margin: auto;
  font-size: 14px;
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.email div:nth-child(2) input {
  width: 480px;
  font-size: 12px;
  padding: 15px 40px;
  color: hsl(217, 28%, 15%);
  border-radius: 50px;
  border: 0;
  outline: none;
}

.email div:nth-child(2) button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  font-family: "Raleway";
  font-weight: 700;
  padding: 17px 30px;
  border-radius: 50px;
  font-size: 14px;
}

.email div:nth-child(2) input::placeholder {
  color: #d9d9d9;
}

footer {
  background-color: hsl(216, 53%, 9%);
  margin-top: 145px;
  padding: 200px 80px 90px 115px;
  display: flex;
}

.first {
  margin-right: 95px;
}

.first div:nth-child(1) {
  margin-bottom: 30px;
}

.first div:nth-child(2) {
  display: flex;
  align-items: start;
}

.first div:nth-child(2) img {
  margin-right: 30px;
  margin-top: 4px;
}

.first div:nth-child(2) p {
  width: 320px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  font-size: 14px;
}

.second {
  margin-right: 150px;
  padding-top: 85px;
}

.second h5,
.second h6 {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.second img {
  margin-right: 25px;
}

.second h5 {
  margin-bottom: 20px;
}

.third {
  margin-right: 120px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: flex;
  gap: 80px;
  padding-top: 85px;
}

.third ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.third ul > li {
  list-style-type: none;
  font-size: 14px;
}

.fourth {
  display: flex;
  gap: 15px;
  padding-top: 85px;
}

.fourth i {
  text-align: center;
  padding: 11px;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
  section {
    width: 100%;
    margin: auto;
  }

  header {
    padding: 25px 20px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 25px;
  }

  header ul > li {
    font-size: 12px;
  }

  .intro {
    padding: 0 35px;
    height: 345px;
    padding-top: 45px;
  }

  .curvy-mobile {
    display: block;
    width: 100%;
  }

  .curvy-desktop {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .intro-container img {
    width: 100%;
  }

  .lower {
    width: 100%;
    left: 0;
    margin: 0;
    top: 250px;
  }

  .lower h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .lower p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .lower button {
    font-size: 12px;
  }

  .features {
    margin-top: 315px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    gap: 80px;
  }

  .productive {
    flex-direction: column;
    padding: 0 30px;
    gap: 40px;
  }

  .productive div:nth-child(1) img {
    width: 100%;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
  }

  .productive span {
    font-size: 12px;
    width: max-content;
  }

  .testimonials {
    margin-top: 150px;
    margin-bottom: 160px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 50px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    flex-direction: column;
    gap: 25px;
  }

  .satish,
  .bruce,
  .iva {
    width: 280px;
    background-color: hsl(219, 30%, 18%);
    padding: 23px;
    border-radius: 5px;
  }

  .satish > p,
  .bruce > p,
  .iva > p {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .email {
    width: 336px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -168px;
  }

  .email div:nth-child(1) h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  .email div:nth-child(2) button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
  }

  footer {
    margin-top: 340px;
    padding: 235px 30px 40px 30px;
    flex-direction: column;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .first div:nth-child(2) img {
    margin-right: 20px;
  }

  .first div:nth-child(2) p {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
  }

  .second {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
  }

  .second img {
    margin-right: 15px;
  }

  .third {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .third ul {
    gap: 20px;
  }

  .fourth {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .fourth i {
    width: 35px;
    height: 35px;
    padding: 9px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 450px */
@media screen and (min-width: 375px) and (max-width: 450px) {
  section {
    width: 375px;
    margin: auto;
  }

  header {
    padding: 25px 20px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 25px;
  }

  header ul > li {
    font-size: 12px;
  }

  .intro {
    padding: 0 35px;
    height: 345px;
    padding-top: 45px;
  }

  .curvy-mobile {
    display: block;
    width: 100%;
  }

  .curvy-desktop {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .intro-container img {
    width: 100%;
  }

  .lower {
    width: 100%;
    left: 0;
    margin: 0;
    top: 250px;
  }

  .lower h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .lower p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .lower button {
    font-size: 12px;
  }

  .features {
    margin-top: 315px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    gap: 80px;
  }

  .productive {
    flex-direction: column;
    padding: 0 30px;
    gap: 40px;
  }

  .productive div:nth-child(1) img {
    width: 100%;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
  }

  .productive span {
    font-size: 12px;
    width: max-content;
  }

  .testimonials {
    margin-top: 150px;
    margin-bottom: 160px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 50px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    flex-direction: column;
    gap: 25px;
  }

  .satish,
  .bruce,
  .iva {
    width: 280px;
    background-color: hsl(219, 30%, 18%);
    padding: 23px;
    border-radius: 5px;
  }

  .satish > p,
  .bruce > p,
  .iva > p {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .email {
    width: 336px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -168px;
  }

  .email div:nth-child(1) h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  .email div:nth-child(2) button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
  }

  footer {
    margin-top: 340px;
    padding: 235px 30px 40px 30px;
    flex-direction: column;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .first div:nth-child(2) img {
    margin-right: 20px;
  }

  .first div:nth-child(2) p {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
  }

  .second {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
  }

  .second img {
    margin-right: 15px;
  }

  .third {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .third ul {
    gap: 20px;
  }

  .fourth {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .fourth i {
    width: 35px;
    height: 35px;
    padding: 9px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 451px TO 525px */
@media screen and (min-width: 451px) and (max-width: 525px) {
  section {
    width: 450px;
    margin: auto;
  }

  header {
    padding: 25px 20px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 25px;
  }

  header ul > li {
    font-size: 12px;
  }

  .intro {
    padding: 0 35px;
    height: 480px;
    padding-top: 45px;
  }

  .curvy-mobile {
    display: block;
    width: 410px;
  }

  .curvy-desktop {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .intro-container img {
    width: 100%;
  }

  .lower {
    width: 100%;
    left: 0;
    margin: 0;
    top: 350px;
  }

  .lower h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .lower p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .lower button {
    font-size: 12px;
  }

  .features {
    margin-top: 315px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    gap: 80px;
  }

  .productive {
    flex-direction: column;
    padding: 0 30px;
    gap: 40px;
  }

  .productive div:nth-child(1) img {
    width: 100%;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
  }

  .productive span {
    font-size: 12px;
    width: max-content;
  }

  .testimonials {
    margin-top: 150px;
    margin-bottom: 160px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 90px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    flex-direction: column;
    gap: 25px;
  }

  .satish,
  .bruce,
  .iva {
    width: 280px;
    background-color: hsl(219, 30%, 18%);
    padding: 23px;
    border-radius: 5px;
  }

  .satish > p,
  .bruce > p,
  .iva > p {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .email {
    width: 336px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -168px;
  }

  .email div:nth-child(1) h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  .email div:nth-child(2) button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
  }

  footer {
    margin-top: 340px;
    padding: 235px 30px 40px 30px;
    flex-direction: column;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .first div:nth-child(2) img {
    margin-right: 20px;
  }

  .first div:nth-child(2) p {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
  }

  .second {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
  }

  .second img {
    margin-right: 15px;
  }

  .third {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .third ul {
    gap: 20px;
  }

  .fourth {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .fourth i {
    width: 35px;
    height: 35px;
    padding: 9px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 526px TO 600px */
@media screen and (min-width: 526px) and (max-width: 600px) {
  section {
    width: 525px;
    margin: auto;
  }

  header {
    padding: 25px 40px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 25px;
  }

  header ul > li {
    font-size: 12px;
  }

  .intro {
    padding: 0 35px;
    height: 550px;
    padding-top: 45px;
  }

  .curvy-mobile {
    display: block;
    width: 485px;
  }

  .curvy-desktop {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .intro-container img {
    width: 100%;
  }

  .lower {
    width: 100%;
    left: 0;
    margin: 0;
    top: 350px;
  }

  .lower h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .lower p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .lower button {
    font-size: 12px;
  }

  .features {
    margin-top: 315px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    gap: 80px;
  }

  .productive {
    flex-direction: column;
    padding: 0 40px;
    gap: 40px;
  }

  .productive div:nth-child(1) img {
    width: 100%;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
  }

  .productive span {
    font-size: 12px;
    width: max-content;
  }

  .testimonials {
    margin-top: 150px;
    margin-bottom: 160px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 125px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    flex-direction: column;
    gap: 25px;
  }

  .satish,
  .bruce,
  .iva {
    width: 280px;
    background-color: hsl(219, 30%, 18%);
    padding: 23px;
    border-radius: 5px;
  }

  .satish > p,
  .bruce > p,
  .iva > p {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .email {
    width: 336px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -168px;
  }

  .email div:nth-child(1) h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  .email div:nth-child(2) button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
  }

  footer {
    margin-top: 340px;
    padding: 235px 40px 40px 40px;
    flex-direction: column;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .first div:nth-child(2) img {
    margin-right: 20px;
  }

  .first div:nth-child(2) p {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
  }

  .second {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
  }

  .second img {
    margin-right: 15px;
  }

  .third {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .third ul {
    gap: 20px;
  }

  .fourth {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .fourth i {
    width: 35px;
    height: 35px;
    padding: 9px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 601px TO 685px */
@media screen and (min-width: 601px) and (max-width: 685px) {
  section {
    width: 600px;
    margin: auto;
  }

  header {
    padding: 25px 40px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 25px;
  }

  header ul > li {
    font-size: 12px;
  }

  .intro {
    padding: 0 35px;
    height: 650px;
    padding-top: 45px;
  }

  .curvy-mobile {
    display: block;
    width: 560px;
  }

  .curvy-desktop {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .intro-container img {
    width: 100%;
  }

  .lower {
    width: 100%;
    left: 0;
    margin: 0;
    top: 450px;
  }

  .lower h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
    text-wrap: pretty;
  }

  .lower p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .lower button {
    font-size: 12px;
  }

  .features {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    gap: 80px;
  }

  .productive {
    flex-direction: column;
    padding: 0 40px;
    gap: 40px;
  }

  .productive div:nth-child(1) img {
    width: 100%;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-wrap: pretty;
  }

  .productive span {
    font-size: 14px;
    width: max-content;
  }

  .testimonials {
    margin-top: 100px;
    margin-bottom: 160px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 125px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    flex-direction: column;
    gap: 25px;
  }

  .satish,
  .bruce,
  .iva {
    width: 350px;
    background-color: hsl(219, 30%, 18%);
    padding: 30px;
    border-radius: 5px;
  }

  .satish > p,
  .bruce > p,
  .iva > p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .email {
    width: 400px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -200px;
  }

  .email div:nth-child(1) h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 30px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  .email div:nth-child(2) button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
  }

  footer {
    margin-top: 400px;
    padding: 235px 40px 40px 40px;
    flex-direction: column;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .first div:nth-child(2) img {
    margin-right: 20px;
  }

  .first div:nth-child(2) p {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
  }

  .second {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
  }

  .second img {
    margin-right: 15px;
  }

  .third {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .third ul {
    gap: 20px;
  }

  .fourth {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .fourth i {
    width: 35px;
    height: 35px;
    padding: 9px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 686px TO 767px */
@media screen and (min-width: 686px) and (max-width: 767px) {
  section {
    width: 685px;
    margin: auto;
  }

  header {
    padding: 45px 50px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 45px;
  }

  header ul > li {
    font-size: 16px;
  }

  .intro {
    padding: 0 50px;
    height: 750px;
    padding-top: 45px;
  }

  .curvy-mobile {
    display: block;
    width: 635px;
  }

  .curvy-desktop {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .intro-container img {
    width: 100%;
  }

  .lower {
    width: 100%;
    left: 0;
    margin: 0;
    top: 500px;
  }

  .lower h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 30px;
    text-wrap: pretty;
  }

  .lower p {
    padding: 0 20px;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 25px;
  }

  .lower button {
    font-size: 12px;
  }

  .features {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 80px;
  }

  .productive {
    flex-direction: column;
    padding: 0 50px;
    gap: 40px;
  }

  .productive div:nth-child(1) img {
    width: 100%;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-wrap: pretty;
    padding: 0 40px;
    margin-bottom: 30px;
  }

  .productive span {
    font-size: 14px;
    width: max-content;
    margin-left: 40px;
  }

  .testimonials {
    margin-top: 100px;
    margin-bottom: 160px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 125px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    flex-direction: column;
    gap: 35px;
  }

  .satish,
  .bruce,
  .iva {
    width: 450px;
    background-color: hsl(219, 30%, 18%);
    padding: 30px;
    border-radius: 5px;
  }

  .satish > p,
  .bruce > p,
  .iva > p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .email {
    width: 400px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -200px;
    margin-top: 100px;
  }

  .email div:nth-child(1) h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 30px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  .email div:nth-child(2) button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
  }

  footer {
    margin-top: 480px;
    padding: 265px 40px 40px 40px;
    flex-direction: column;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .first div:nth-child(2) img {
    margin-right: 20px;
  }

  .first div:nth-child(2) p {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
  }

  .second {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
  }

  .second img {
    margin-right: 15px;
  }

  .third {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .third ul {
    gap: 20px;
  }

  .fourth {
    padding: 0;
    justify-content: center;
    gap: 10px;
  }

  .fourth i {
    width: 35px;
    height: 35px;
    padding: 9px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 768px TO 990px */
@media screen and (min-width: 768px) and (max-width: 990px) {
  section {
    width: 768px;
    margin: auto;
  }

  header {
    padding: 45px 50px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 45px;
  }

  header ul > li {
    font-size: 16px;
  }

  .curvy-mobile {
    display: block;
    width: 768px;
  }

  .curvy-desktop {
    display: none;
  }

  .features {
    margin-top: 50px;
    padding: 0 50px;
    gap: 50px;
  }

  .productive {
    flex-direction: column;
    padding: 0 50px;
    gap: 40px;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-weight: normal;
    line-height: 22px;
    text-wrap: pretty;
    margin-bottom: 30px;
    width: 520px;
  }

  .testimonials {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 420px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 50px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 0 55px;
  }

  .satish,
  .bruce,
  .iva {
    width: 325px;
    padding: 25px;
    border-radius: 5px;
  }

  .email {
    width: 600px;
    padding: 40px 25px;
    left: 50%;
    margin-left: -300px;
    margin-top: 100px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 25px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 80px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  footer {
    margin-top: 380px;
    padding: 265px 40px 40px 40px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    row-gap: 50px;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .first div:nth-child(2) p {
    text-align: left;
  }

  .first div:nth-child(2) img {
    margin-right: 15px;
    margin-top: 4px;
  }

  .third {
    text-align: left;
    padding: 0;
    padding-left: 28px;
  }

  .fourth {
    padding: 0;
    align-items: center;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 991px TO 1065px */

@media screen and (min-width: 991px) and (max-width: 1439px) {
  section {
    width: 990px;
    margin: auto;
  }

  header {
    padding: 45px 80px;
  }

  header div:nth-child(1) {
    width: 25%;
  }

  header div:nth-child(1) img {
    width: 100%;
  }

  header ul {
    gap: 45px;
  }

  header ul > li {
    font-size: 16px;
  }

  .curvy-mobile {
    display: block;
    width: 990px;
  }

  .curvy-desktop {
    display: none;
  }

  .features {
    margin-top: 50px;
    padding: 0 80px;
    gap: 50px;
  }

  .productive {
    flex-direction: column;
    padding: 0 80px;
    gap: 40px;
  }

  .productive div:nth-child(2) {
    width: 100%;
  }

  .productive div:nth-child(2) h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }

  .productive div:nth-child(2) h5,
  .productive div:nth-child(2) h6 {
    font-weight: normal;
    line-height: 22px;
    text-wrap: pretty;
    margin-bottom: 30px;
    width: 520px;
  }

  .testimonials {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 420px;
  }

  .quotes {
    width: 25px;
    height: 20px;
    top: 0;
    left: 80px;
  }

  .testimonial-div {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 15px;
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 0 85px;
  }

  .satish,
  .bruce,
  .iva {
    width: 425px;
    padding: 25px;
    border-radius: 5px;
  }

  .email {
    width: 600px;
    padding: 60px 40px;
    left: 50%;
    margin-left: -300px;
    margin-top: 100px;
  }

  .email div:nth-child(1) p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 25px;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 80px;
  }

  .email div:nth-child(2) input {
    width: 100%;
    padding: 15px 30px;
  }

  footer {
    margin-top: 380px;
    padding: 265px 80px 40px 80px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    row-gap: 50px;
  }

  .first {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .first div:nth-child(2) p {
    text-align: left;
  }

  .first div:nth-child(2) img {
    margin-right: 15px;
    margin-top: 4px;
  }

  .third {
    text-align: left;
    padding: 0;
    padding-left: 28px;
  }

  .fourth {
    padding: 0;
    align-items: center;
  }
}
